<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Loads css-->
        <link rel="stylesheet" href="css/main.css">
        <title>My VueJS app</title>
        <style>
            .isComplete{
                text-decoration: line-through;
            }
            .container {
            width: 190px;
            height: 22px;
            margin: 0;
            }
            
            .right {
                float: right;
            }
        </style>
    </head>
    <body>

        <!-- el -->
        <div id="toDoVueApp">
            <h1 v-text='title'></h1>
            <!-- 
            event handling
            v-model displays live keyout input
            listens to user keyboard press Enter 
            then submits the item by calling additem
            -->
            <input v-model='newItem' v-on:keyup.enter='addItem' />
            <span>
                <!-- @click is the same as v-on:click-->
                <!-- prevents default handler -->
                <button @click.prevent='addItem'>Add</button>
            </span>
            <small>adding...{{newItem}}</small>
            <h5>List of todos</h5>
    
            <!--
            self declared named list 
            binds the id to the list item
             -->
            <ul v-for="(list, key, index) in lists"
            v-bind:key="list.id">
            <div class='container'>
            <!-- render each todo-->
            <!-- mark the list as complete if the status is true-->
            <li :class="{isComplete: list.status}">{{list.item}} {{key}}
                

                <div class='right'>
                <input type='checkbox' 
                v-model='list.status'>

                <label id='statusText'></label>
                <div class='right'>  <button @click.prevent='deleteItem'>Delete</button>
            </div>
            </li>
        </div>
        </ul>

        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
